@import url(./reset.css);
@import url(./buttonsBase.css);
@import url('./centerOfBackgroud.css');

body{
  display: flex;
    background-image: url(../utils/Backgroud-2.png);
    width: 100vw;
    height: 100vh;
    background-color: #405cb8;
    flex-direction: column;
}


h1 {
    color: #f0f0f0;
}

.container{
background-color: #fff ;
margin: auto;
border-radius: 16px;
padding: 40px;
margin-top: 60px;
}
.header{
    display: flex;
}

h2 {
    font-weight: 600;
    margin-bottom: 16px;

}

.datafirst {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    margin: auto;
    gap: 4px;
}
.datafirst > input {
    border: none;
    background-color: #e4e4e4;
    border-radius: 4px;
}

#avatar{
    max-width: 150px;
    background-color: aqua;
    border-radius: 50%;
}

.fieldOfdata{
    height: 24px;
}
.personalInformations >input{
    height: 32px;
}
.personalInformations {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.label{
    grid-column: span 2;
    margin-top: 12px;
    padding: 0 0 0 4px ;


}

.label1gap{
    margin-top: 12px;
    padding: 0 0 0 4px ;

}

.oneLabel{
    margin-top: 12px;
    padding: 0 0 0 4px ;


}

#suaCard, #name, #afiliation {
    grid-column: span 2;
}

.personalInformations > input {
    flex-direction: column;
    border: none;
    background-color: #f0f0f0;
    border-radius: 4px;
}



input {
    padding: 15px;
    font-size: 20px;
}

nav {
    margin: auto;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

footer > img {
    width: 120px;
}
footer {
    display: flex;
    justify-content: center;  
    margin-bottom: 50px;
}