@import url('./reset.css');
@import url('./buttonsBase.css');

button {
    cursor: pointer;
}

body{
    width: 100vw;
    height: 100vh;

    background-image: url('../utils/c1cdd30b4f16b45ff56701f9d15b94fd.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}



main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center; 
    align-items: center;

   
}
.container{
    background-color:  rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(28px);
    padding: 24px 42px;
    border-radius: 47px;
    box-shadow:  0px -2px 4px rgba(255, 255, 255, 0.5);
}
#title {
    margin-bottom: 24px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    line-height: 31px;
    margin: 0, auto;
    justify-content: center;
    text-align: center;
    
}
h3{
    background-color: #ffffffd7;
    width: 350px;
    text-align: center;
    border-radius: 4px;
}
p{
    padding: 8px 0 0 20px ;
    color: #fff;
}


footer > img {
    width: 120px;
}
footer {
    display: flex;
justify-content: center;  
}